{% extends "base.html" %}

{% block title %}
<title>Posts</title>
{% endblock %}

{% block content %}
    <div>
        <h1 class="d-inline">Posts</h1>
        <a class="btn btn-success d-inline float-right" href="{{ url_for('create') }}">+ new post</a>
    </div>
    <hr>

    {% for post in posts %}
        <div class="my-2">
            <h3 class="mb-0">{{ post.title }}</h3>
            <small>Posted by: {{ post.author }} on {{ post.created_at.strftime("%d-%m-%Y") }}</small>
            <p class="my-3" style="white-space: pre-wrap">{{ post.content }}</p>
            <form class="d-inline" action="{{ url_for('edit_post', id=post.id) }}" method="get">
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
            <form class="d-inline" action="{{ url_for('delete_post', id=post.id) }}" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        <hr>
    {% else %}
        <h3>There are no posts now. Click the button above to create the new one!</h3>
    {% endfor %}
{% endblock %}